* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zen Tokyo Zoo";
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: start;
  text-transform: uppercase;
  background: black;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

/* Navigation bar with underline linear gradient color : NT Style*/

nav {
  top: 50%;
  right: 0;
  left: 0;
  width: 319px;
  display: table;
  margin: 0 auto;
  transform: translateY(-50%);
  text-transform: uppercase;
}

nav a {
  width: 25%;
  display: table-cell;
  text-align: center;
  color: #949494;
  text-decoration: none;
  font-size: x-large;
  position: relative;
  font-family: "Zen Tokyo Zoo", cursive;
  padding: 10px 20px;
  transition: 0.2s ease color;
  font-size: 2.5rem;
  font-weight: 700;
}

nav a span {
  width: 25%;
  display: table-cell;
  text-align: center;
  color: #949494;
  text-decoration: none;
  font-size: x-large;
  position: relative;
  font-family: "Zen Tokyo Zoo", cursive;
  padding: 10px 20px;
  transition: 0.2s ease color;
  font-size: 2.5rem;
  font-weight: 700;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }

  15% {
    text-shadow: -0.05em -0.025 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

#indicator {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 100px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: 0.2s ease left;
}

nav a:hover {
  color: #ffffff;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 750ms infinite;
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator {
  left: 2%;
  background: linear-gradient(130deg, #55e7ff, #00ccfd);
}

nav a:nth-child(2):hover ~ #indicator {
  left: 25%;
  background: linear-gradient(130deg, #00ccfd, #ff34b3);
}

nav a:nth-child(3):hover ~ #indicator {
  left: 55%;
  background: linear-gradient(130deg, #ff34b3, #2011a2);
}

nav a:nth-child(4):hover ~ #indicator {
  left: 89%;
  background: linear-gradient(130deg, #2011a2, #201148);
}

/*Loading infinite circles */

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-circles {
  height: 250px;
  width: 250px;
  color: #ffffff;
  position: relative;
  animation: rotate 1.35s linear infinite;
  display: inline-block;
}

.loading-circles div {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  border: 1px solid;
  position: absolute;
}

.loading-circles div:nth-child(1) {
  top: 10%;
  left: 5%;
}

.loading-circles div:nth-child(2) {
  top: 0;
  left: 25%;
}

.loading-circles div:nth-child(3) {
  top: 10%;
  right: 5%;
}

.loading-circles div:nth-child(4) {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.loading-circles div:nth-child(5) {
  bottom: 0;
  left: 25%;
}

.loading-circles div:nth-child(6) {
  bottom: 10%;
  left: 5%;
}

.loading-circles div:nth-child(7) {
  bottom: 10%;
  right: 5%;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
